.headline {
    background-color: grey;
    padding-bottom: 2rem;
    padding-top: 5rem;
    margin-bottom: -0.5px !important;
    text-align: center;
    font-family: "Rubik";
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -15px 3px rgba(0, 0, 0, 0.1);
}


.navbar {
    justify-content: end !important;
    background-color: #5E5694;
    padding: 4rem;
    box-shadow: 0 3px 26px rgba(0, 0, 0, 1), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
}

.pic-label {
    text-align: center;
    font-family: "Rubik";
    padding-top: 1rem;
    font-weight: 600;
    box-shadow: 0 30px 26px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.nav-link {
    font-family: "Rubik";
}

.nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
}


body {
    background-color: #5E5694 !important;
}

.main-panel {
    background-color: #5E5694 !important;
    height: 80vh;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0.4rem;
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
}

.pic-box {
    max-width: 99.5vw;
    background-color: #5E5694;
    justify-content: space-around;
    align-content: space-between;
}

.pic-box > row {
    background-color: #5E5694;
}

to {
    margin-left: 0%;
    width: 100%;
}

.rounded-circle {
    border-radius: 100%;
    box-shadow: 0 30px 26px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
}

.hello::first-letter {
    font-size: 70px;
    font-family: "Book Antiqua";
    font-weight: bold;
}

.my-name {
    font-size: 5rem;
    font-family: "Book Antiqua";
}

.intro {
    background-color: #4f4f4f;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    font-size: larger;
    color: white;
    box-shadow: 0 30px 26px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
}

#thm_badge {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.history {
    visibility: hidden;
}

.github-badge.octo {
    margin-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
   .navbar {
        padding-left: 15rem;
  }
}