{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<div class="skill-page">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-7">
                <img src="../static/img/jeshoots-com--2vD8lIhdnw-unsplash.jpg" width="608" height="405">
            </div>
            <div class="col-sm-5">
                <h1>Tutoring</h1>
                <br>
                <h4>I have 200 hours of experience in tutoring from the time of high school!</h4>
                <br>
                <p> From helping peers with math and essays in high school, to teaching absolute beginners coding.</p>
                <br>
                <p>First hour of tutoring free! <a target="_blank" href="https://icons8.com/icon/121552/pixel-star"> <img src="../static/img/icons8-pixel-star-50.png"></p>
                </a>
                <br>

            </div>
        </div>
    </div>
</div>

{% endblock %}