{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

<div style="margin:10rem; color: white">
    <div class="form">

        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            {% endbuttons %}

            <div class="h-captcha" data-sitekey="581108a4-3780-41c2-85dd-1d81a197cf6b"></div>

        </form>
    </div>
</div>
{% endblock %}

