{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<h1 class="headline" style="color: white">Scooter Girl Tech Services</h1>
<div class="main-panel">

    <div class="row pic-box">
        <div class="row">
            <div class="col">
                <a href="troubleshooting/"> <img src="../static/img/office-g63b6374c1_1920.jpg" alt="" width="339"
                                                 height="594"> </a>
                <div class="col pic-label">
                    <h3>Device Troubleshooting</h3>
                </div>
            </div>
            <div class="col">
                <a href="website-work/"> <img src="../static/img/student-gc9d9020b7_1920.jpg" alt=""
                                              width="339" height="596"> </a>
                <div class="col pic-label">
                    <h3>Websites</h3>
                </div>
            </div>
            <div class="col">
                <a href="account-management/"> <img src="../static/img/ux-gdf66dba3d_1920.jpg" alt="" width="339"
                                                    height="596"> </a>
                <div class="col pic-label">
                    <h3>Account Management</h3>
                </div>
            </div>
            <div class="col">
                <a href="tutoring/"> <img src="../static/img/grandmother-ga44caa10b_1920.jpg" alt="" width="339"
                                          height="596"> </a>
                <div class="col pic-label">
                    <h3>Tutoring</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <img class="scooter rounded-circle" src="../static/img/2022-06-28_11h18_36.png" width="200" height="200">
            <script src="https://tryhackme.com/badge/1266880"></script>

            <github-badge user="snelzing"></github-badge>
        </div>
        <div class="col-sm-6">
            <h3 class="open-to-hire" style="color: white"> I am available for hire as a freelancer, contractor, or
                FTE! </h3>
            <h2 class="hello" style="color: white">Hello, I am</h2>
            <h1 class="my-name" style="color: white">Shelby Elzinga</h1>


            <div class="intro rounded">
                <p>I am a new-age generalist** that is familiar with all parts
                    of the tech stack.</p>

                <p> I am specialized in Python &#x1F40D. This website was made in Django!</p>

                <p>I am also specializing in cybersecurity. So good luck getting into the /admin page. </p>

            </div>

            <p style="padding-top: 30rem; color: white">** Cool way of saying jack-of-all-trades I guess</p>

        </div>
    </div>
</div>


<div>

</div>
{% endblock %}
